header {
    position: fixed;
    width: 100%;
    background-color: #2875F1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    cursor: pointer;
}

.explore-plus {
    display: flex;
    align-items: center;
    text-align: center;
}

.explore-plus>a {
    text-decoration: none;
    color: white;
    font-size: small;
    margin: 0px 3px;
}

.explore-plus>a:hover {
    text-decoration: underline;
}

a>i>span {
    color: yellow;
}

.search {
    display: flex;
    align-items: center;
    width: 550px;
    height: 65%;
}

.search>svg {
    position: relative;
    right: 33px;
    cursor: pointer;
}

.search>input {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border-radius: 1px;
    border: none;
}

.btn>button {
    background-color: white;
    border-radius: 1px;
    border: none;
    color: #2875F1;
    font-size: medium;
    font-weight: bold;
    margin: 0px 30px;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.menu {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu>a,
.menu>.cart>a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.menu>.cart>a {
    margin: 5px;
}