<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={{banner[0]}} class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src={{banner[1]}} class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{banner[2]}}" class="d-block w-100" alt="...">
      </div>
    </div>
      <div class="carousel-control-prev test" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> <
         </div>
      <div class="carousel-control-next test" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> > </div>
  </div>