.body-category-container{
    width: 85%;
    height: 350px;
    margin: 5px auto;
    background-color: white;
    border: 1px #DCDFE1 solid;
    display: flex;
}
.category-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 100%;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-position: 0px bottom;
    background-repeat: no-repeat;
}
.category-brand-item{
    text-align: center;
}

.btn{
    border-radius: 1px !important;
    font-size: small;
    padding: 8px 15px;
}

.body-category-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 350px ;
    cursor: pointer;
}
.body-category-products:hover{
    transform: scale(1.1);
}

.item-product-image{
    padding: 25px 0px;
}

.body-category-products>span:nth-child(2){
    font-weight: bold;
}
.body-category-products>span:nth-child(3){
    color: green;
}
.body-category-products>span:nth-child(4){
    color: gray;
}
