.body-category-container{
    width: 85%;
    height: 350px;
    margin: 5px auto;
    background-color: white;
    border: 1px #DCDFE1 solid;
    display: grid;
    grid-template-columns: 230px 1fr;
}
.category-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 100%;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-position: 0px bottom;
    background-repeat: no-repeat;
}
.category-brand-item{
    text-align: center;
}

.btn{
    border-radius: 1px !important;
    font-size: small;
    padding: 8px 15px;
}